.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    margin-bottom: 12px;

      /* Medium screens: 2 columns, 2 rows */
  @media (max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
  }

  /* Small screens: 1 column, 3 rows */
  @media (max-width: 769px) {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, auto);
  }
}




.endorsements-section{
    background-image: url(/Images/PlainBg.png);
    background-size: cover;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    
  }